In [1]:
nba_divs = ["大西洋組", "中央組", "東南組", "西北組", "太平洋組", "西南組"]

# 迴圈結構
for div in nba_divs:
    print(div)

大西洋組
中央組
東南組
西北組
太平洋組
西南組

In [2]:
one_to_hundred_list = range(1, 101)
summation = 0

for i in one_to_hundred_list:
    summation += i

print(summation)
print(i)

5050
100

In [3]:
print(range(0,5))

range(0, 5)

In [5]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [6]:
for i in range(1,5):
    print(i)

1
2
3
4

In [7]:
one_to_hundred_list = range(1, 101)
summation = 0
i = 0

while i < len(one_to_hundred_list):
        summation += one_to_hundred_list[i]
        i += 1

print(summation)
print(i)

5050
100

In [8]:
my_seq = list(range(1, 11))
for iterator in my_seq:
    if (iterator % 2 == 0):
        print(iterator, "是偶數")
    else:
        print(iterator, "是奇數")

1 是奇數
2 是偶數
3 是奇數
4 是偶數
5 是奇數
6 是偶數
7 是奇數
8 是偶數
9 是奇數
10 是偶數

In [9]:
ages = [19, 21, 20, 19, 21, 17, 30, 36, 90]
for age in ages:
    if (age > 30):
        break
    else:
        print(age)

print("---")
print(age)

19
21
20
19
21
17
30
---
36

In [10]:
ages = [19, 21, 20, 19, 21, 17, 30, 36, 90]
for age in ages:
    if (age < 30):
        continue
    else:
        print(age)

print("---")
print(age)

30
36
90
---
90